<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>eClinics-Blogs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <div class="parent-div" >

    <nav class="medical-navbar">
      <div class="navbar-header">
        <p class="navbar-brand" style="font-weight: bold;">eClinics</p>
      </div>
      <ul>
        <div style="padding-top: 15px;" >
          <li><a href="#" style="font-weight: bold;" >Home</a></li>
          <li><a href="#" style="font-weight: bold;">About Us</a></li>
          <li><a href="#" style="font-weight: bold;">Health Articles</a></li>
          <li><a href="#" style="font-weight: bold;">Medical Services</a></li>
          <li><a href="#" style="font-weight: bold;">Doctors</a></li>
          <li><a href="#" style="font-weight: bold;">Contact</a></li>
          <li><a href="/compose" style="font-weight: bold;">Compose Blog</a> </li>
        </div>
        
      </ul>
    </nav>
 
  </div>
  
  <body>
    <div class="container">
